<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="base.ListenerImplementation"/>
    </listeners>
    <test name="Logintest">
        <parameter name="browser" value="chrome" />
        <parameter name="URL" value="https://website.eryce.com/qa-test/" />
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
</suite>